<div>
    <h1>Edite seu perfil </h1>
    <hr>
    <div class="col-md-4">
      <form autocomplete="off" [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" novalidate>
        <div class="form-group">
          <label for="firstName">Nome:</label>
          <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder="Nome..." />
        </div>
        <div class="form-group">
          <label for="lastName">Sobrenome:</label>
          <input id="lastName" formControlName="lastName" type="text" class="form-control" placeholder="Sobrenome Name..." />
        </div>
  
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-default" (click)="cancel()">Cancelar</button>
      </form>
    </div>
  </div>