<h1>Login 2 Exercico Modulo 7</h1>
<hr>
<div class="col-md-4">
    <form #loginForm="ngForm" (ngSubmit)=login(loginForm.value) autocomplete="off" >
        <div class="form-group">
            <em *ngIf="loginForm.controls.userName?.invalid && loginForm.controls.userName?.touched || mouseoverLogin">Required</em>
            <label for="userName">User Name:</label>
            <input [(ngModel)]="userName" id="userName" type="text" name="userName" required class="form-control"
                placeholder="User Name..." />
        </div>
        <div class="form-group">
            <em *ngIf="loginForm.controls.password?.invalid && loginForm.controls.password?.touched || mouseoverLogin">Required</em>
            <label for="password">Password:</label>
            <input [(ngModel)]="password" name="password" id="password" type="password" required class="form-control"
                placeholder="Password..." />
        </div>

        <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
        </span>
        <button type="button" class="btn btn-default">Cancel</button>
    </form>
</div>